
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAlumnus.cshtml";
}
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Tất cả biểu mẫu</h3>
            </div>
            <div class="col-12 col-xl-4">
                <!-- Empty  -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3">
        <div class="down_file-card">
            <div class="down_file-card-img">
                <img src="~/Assets/ClientManager/images/contact-removebg-preview.png" alt="Biễu mẫu">
            </div>
            <div class="down_file-card-title">Biễu mẫu xin nghỉ học</div>
            <a href="a.docx" class="down_file-card-download" download><i class="fa-regular fa-download"></i>Tải xuống</a>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="down_file-card">
            <div class="down_file-card-img">
                <img src="~/Assets/ClientManager/images/contact-removebg-preview.png" alt="Biễu mẫu">
            </div>
            <div class="down_file-card-title">Biễu mẫu xin nghỉ học</div>
            <a href="a.docx" class="down_file-card-download" download><i class="fa-regular fa-download"></i>Tải xuống</a>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="down_file-card">
            <div class="down_file-card-img">
                <img src="~/Assets/ClientManager/images/contact-removebg-preview.png" alt="Biễu mẫu">
            </div>
            <div class="down_file-card-title">Biễu mẫu xin nghỉ học</div>
            <a href="a.docx" class="down_file-card-download" download><i class="fa-regular fa-download"></i>Tải xuống</a>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="down_file-card">
            <div class="down_file-card-img">
                <img src="~/Assets/ClientManager/images/contact-removebg-preview.png" alt="Biễu mẫu">
            </div>
            <div class="down_file-card-title">Biễu mẫu xin nghỉ học</div>
            <a href="a.docx" class="down_file-card-download" download><i class="fa-regular fa-download"></i>Tải xuống</a>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="down_file-card">
            <div class="down_file-card-img">
                <img src="~/Assets/ClientManager/images/contact-removebg-preview.png" alt="Biễu mẫu">
            </div>
            <div class="down_file-card-title">Biễu mẫu xin nghỉ học</div>
            <a href="a.docx" class="down_file-card-download" download><i class="fa-regular fa-download"></i>Tải xuống</a>
        </div>
    </div>
</div>

@section rightSiteBar {
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="~/AlumnusHome/">
                    <i class="icon-grid menu-icon"></i>
                    <span class="menu-title">Trang chủ</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/AlumnusHome/">
                    <i class="icon-head menu-icon"></i>
                    <span class="menu-title">Hồ sơ sinh viên</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="~/AlumnusJoin/">
                    <i class="fa-light fa-feather-pointed menu-icon"></i>
                    <span class="menu-title">Gia nhập</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/AlumnusDownload/">
                    <i class="icon-paper menu-icon"></i>
                    <span class="menu-title">Biễu mẫu</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pages/documentation/documentation.html">
                    <i class="icon-paper menu-icon"></i>
                    <span class="menu-title">Nội quy - quy định</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-light fa-money-bills menu-icon"></i>
                    <span class="menu-title">Thanh toán - Hóa đơn</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i clas="fa-light fa-flag menu-icon"></i>
                    <span class="menu-title">Liên hệ</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-sharp fa-solid fa-do-not-enter menu-icon"></i>
                    <span class="menu-title">Vi phạm </span>
                </a>
            </li>
        </ul>
    </nav>
}
